.home-container {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: space-around;
  min-height: 500px;
  background-color: #10172a;
  /* background-image: url('../../Assets/Image/bg.jpg'); */
}

.item {
  width: 200px;
  height: 200px;
  border: 30px solid var(--dark-blue);
  border-radius: 100%;
}
