.cardtechstack-container {
  display: flex;
}

.cardtechstack-body {
  border: 2px solid white;
  border-radius: 20px;
  width: 400px;
}

.cardtechstack-title {
  margin: 20px 0;
  font-family: 'Inter Bold';
  font-size: 24px;
  color: var(--white);
}

.cardtechstack-element {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
