.experience-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: space-evenly;
  min-height: 670px;
  background-color: var(--background-two);
}

.experience-header {
}

.experience-body {
}
