/* Btn */
.btn {
  border-radius: 50px;
  padding: 14px 0;
  width: 160px;
  cursor: pointer;
  transition: 0.5s;
  font-family: 'Poppins SemiBold';
}

.btn:active {
  transform: translateY(2px);
}

/* highlighted btn */

.highlighted-btn {
  color: var(--white);
  font-size: 12px;
  background: var(--light-blue-gradient);
  border: none;
}

@media only screen and (max-width: 568px) {
  .highlighted-btn {
    z-index: -900;
  }
}

/* Primary btn */

.primary-btn {
  color: var(--white);
  border: 2px solid linen;
  font-size: 12px;
  background-color: #0f172a;
}
.primary-btn:hover {
  color: aliceblue;
  border: 2px solid #38bdf8;
  background-color: #0f172a;
}

/* Header line */
.headerline-line {
  width: 200px;
  height: 5px;
  border-radius: 30px;
  background-color: white;
  position: relative;
}

.headerline-center {
  width: 50px;
  height: 15px;
  background-color: #38bdf8;
  position: absolute;
  top: -5px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  border-radius: 20px;
}

/* Card */

.card {
  background: #3e6296;
  padding: 1rem;
  border-radius: 0.75rem;
  min-width: 200px;
  color: #fff !important;
}

.card h3 {
  min-height: 64px;
  font-weight: 600;
}

.card h3,
.card p {
  margin-bottom: 0.5rem;
}

/* .card:hover {
  background: linear-gradient(180deg, #ff7686 0%, #d72f93 100%);
  transform: scale(1.2);
  border-radius: 0.75rem;
} */

/* icons */

.ReactIcon,
.NodeIcon,
.PhpIcon {
  line-height: 100px;
}

/* Item */

.item {
  width: 200px;
  height: 200px;
  border: 30px solid var(--dark-blue);
  border-radius: 100%;
}
