/* Profile */

.profile-container {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  height: 10%;
  min-height: fit-content;
}

.profile-parent {
  display: flex;
  align-items: center;
  color: aliceblue;
}

.profile-detail-name {
  font-size: 24px;
  font-family: 'Poppins SemiBold';
}

.profile-detail-role {
  display: flex;
  flex-direction: column;
  margin: 14px 0 24px 0;
}

.profile-detail-role h1 {
  font-size: 40px;
  font-family: monospace;
}

.primary-text {
  color: (--white);
}

.highlight-text {
  color: #38bdf8;
}

.profile-role-tagline {
  font-size: 16px;
  margin: 5px 0 0 0;
  font-family: 'Poppins Light';
}

.profile-options .highlighted-btn {
  margin: 0 0 0 28px;
}

.profile-options .highlighted-btn:hover {
  margin: 0 0 0 28px;
  background: var(--white);
  color: black;
}

/* animation */
.animation {
  height: 50px;
  overflow: hidden;
}

.animation > div > div {
  margin-bottom: 2.81rem;
  display: inline-block;
}

.animation div:first-child {
  animation: text-animation 8s infinite;
}

.first div {
  color: #38bdf8;
}
.second div {
  color: #cd921e;
}
.third div {
  color: green;
}

@keyframes text-animation {
  0% {
    margin-top: 0;
  }
  10% {
    margin-top: 0;
  }
  20% {
    margin-top: -5.62rem;
  }
  30% {
    margin-top: -5.62rem;
  }
  40% {
    margin-top: -11.24rem;
  }
  60% {
    margin-top: -11.24rem;
  }
  70% {
    margin-top: -5.62rem;
  }
  80% {
    margin-top: -5.62rem;
  }
  90% {
    margin-top: 0;
  }
  100% {
    margin-top: 0;
  }
}

/* Profile picture */
.profile-picture-container {
  display: flex;
  position: relative;
}

.profile-picture {
  width: 400px;
  height: 400px;
}

.profile-picture img {
  width: 350px;
  position: relative;
  bottom: 45px;
}

/* profile icon */

.profile-icon {
  display: flex;
  align-items: center;
  justify-content: center;
}
.profile-icon > div {
  border-radius: 50%;
  width: 70px;
  height: 70px;
  animation: float 6s ease-in-out infinite;
}

.react-icon {
  position: relative;
  top: 170px;
  right: 70px;
  border: 2px solid #38bdf8;
}
.node-icon {
  border: 2px solid #89bb3c;
  position: relative;
  left: 90px;
}
.php-icon {
  border: 2px solid #4b568c;
  position: relative;
  left: 50px;
  top: 150px;
}

@keyframes float {
  0% {
    transform: translatey(0px);
  }
  50% {
    transform: translatey(-20px);
  }
  100% {
    transform: translatey(0px);
  }
}
/* img:first-child {
  width: 500px;
  position: absolute;
  right: 100px;
}
img:nth-child(2) {
  width: 500px;
  position: absolute;
  left: 100px;
}
img:nth-child(3) {
  width: 360px;
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
} */

/* Header */

.header-container {
  width: 200px;
}

.header-parent {
  color: white;
  margin-bottom: 30px;
}

.header-parent h2 {
  font-weight: 600;
  font-size: 32px;
}

.header-parent p {
  font-size: 16px;
  font-weight: 200;
}
