@font-face {
  font-family: 'Inter Black';
  font-style: normal;
  font-weight: normal;
  src: url('./Assets/Fonts/Inter-Black.ttf');
}

@font-face {
  font-family: 'Inter Bold';
  font-style: normal;
  font-weight: normal;
  src: url('./Assets/Fonts/Inter-Bold.ttf');
}

@font-face {
  font-family: 'Inter ExtraBold';
  font-style: normal;
  font-weight: normal;
  src: url('./Assets/Fonts/Inter-ExtraBold.ttf');
}

@font-face {
  font-family: 'Inter ExtraLight';
  font-style: normal;
  font-weight: normal;
  src: url('./Assets/Fonts/Inter-ExtraLight.ttf');
}

@font-face {
  font-family: 'Inter Light';
  font-style: normal;
  font-weight: normal;
  src: url('./Assets/Fonts/Inter-Light.ttf');
}

@font-face {
  font-family: 'Inter Medium';
  font-style: normal;
  font-weight: normal;
  src: url('./Assets/Fonts/Inter-Medium.ttf');
}

@font-face {
  font-family: 'Inter Regular';
  font-style: normal;
  font-weight: normal;
  src: url('./Assets/Fonts/Inter-Regular.ttf');
}
@font-face {
  font-family: 'Inter SemiBold';
  font-style: normal;
  font-weight: normal;
  src: url('./Assets/Fonts/Inter-SemiBold.ttf');
}
@font-face {
  font-family: 'Inter Thin';
  font-style: normal;
  font-weight: normal;
  src: url('./Assets/Fonts/Inter-Thin.ttf');
}

* {
  outline: none;
}

body {
  margin: 0;
  overflow-y: overlay;
  font-family: 'Inter Regular';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

::-webkit-scrollbar {
  width: 6px !important;
  height: 6px !important;
}

body ::-webkit-scrollbar-thumb {
  background-color: hsla(0, 0%, 100%, 0.16);
}

::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.2);
}

::-webkit-scrollbar-track {
  background: hsla(0, 0%, 100%, 0.1);
}

/* @media only screen and (max-width: 414px) {
  .primary-btn {
    font-size: 13px;
  }
} */

.red-border {
  border: 1px solid var(--error-message) !important;
}

.fade-in {
  opacity: 0;
  transform: translateY(80px);
  transition: all 0.8s ease;
}
