.techstack-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: space-evenly;
  align-items: center;
  min-height: 670px;
  background-color: #10172a;
}

.techstack-header {
  border: 1px solid white;
}

.techstack-body {
  border: 1px solid white;
}
